body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #556B2F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

button {
    background: #D4AF37;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}
